<p id="notice"><%= notice %></p>

<h1>Camper Camp Badges</h1>

<table>
  <thead>
    <tr>
      <th>Camp badge</th>
      <th>Camper</th>
      <th>Completed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @camper_camp_badges.each do |camper_camp_badge| %>
      <tr>
        <td><%= camper_camp_badge.camp_badge %></td>
        <td><%= camper_camp_badge.camper %></td>
        <td><%= camper_camp_badge.completed %></td>
        <td><%= link_to 'Show', camper_camp_badge %></td>
        <td><%= link_to 'Edit', edit_camper_camp_badge_path(camper_camp_badge) %></td>
        <td><%= link_to 'Destroy', camper_camp_badge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Camper Camp Badge', new_camper_camp_badge_path %>
