<div class="header" id="profile-header">
  <div class="header-body">
    <div class="header-title"><%= @branch.name %></div>
    <div class="header-subtitle">
      Branch<br/><br/>
      <%= link_to 'Edit', edit_branch_path(@branch), class: "btn btn-primary btn-block btn-sm" %>
    </div>
  </div>
</div>

<div class="row page-row">
  <div class="col">
    <div class="card page-card">
      <div class="card-body">
        <h5 class="card-title">Locations</h5>
        <p class="card-text">
          <% if @locations.count != 0 %>
          <table class="table">
            <tbody>
            <% @locations.each do |location| %>
              <tr>
                <td>
                  <%= link_to location do %>
                    <%= location.name %>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        <% else %>
          <%= @branch.name %> currently does not have any locations. <br/>
        <% end %>
        </p>
      </div>
    </div>

    <div class="row btn-group">
      <div class="col">
        <%= link_to 'Add New Location', new_location_path, class: "btn btn-primary btn-block btn-right" %>
      </div>
    </div>
  </div>
</div>

<div class="pad-bottom">
</div>

