<div class="home-container modal-shadow">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Sign in</h5>
        <p class="card-text">
          <%= form_with url: sessions_path, local: true do |f| %>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.text_field :email, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control" %>
          </div>
          <%= f.submit "Sign In", class: 'btn btn-primary btn-block' %>
        <% end %>
        </p>
      </div>
    </div>
  </div>
</div>