<%= simple_form_for(camper_camp_badge) do |f| %>
  <%= f.error_notification %>
  <%= f.hidden_field :camp_badge_id, value: params['camp_badge_id'] %>
  <div class="form-group">
    <%= f.label :camper_id %>
    <%= f.input :camper_id, collection: @campers, input_html: {class: 'form-control'}, label: false %>
  </div>
  <div class="form-group">
    <%= f.label :completed, label: "badge completed?" %>
    <%= f.input :completed, label: false %>
  </div>
  <%= f.button :submit, class: 'btn btn-primary btn-block' %>
<% end %>
