<%= simple_form_for(camper_camp_badge) do |f| %>
  <%= f.error_notification %>
  <%= f.hidden_field :camp_badge_id, value: params['camp_badge_id'] %>
  <div class="form-group">
    <%= f.input :camper_id,  collection: [Camper.new(id: 0, first_name: 'Select', last_name: 'All', parent_id: 0)] + @campers, as: :check_boxes, :label_method => :proper_name, :value_method => :id, label: false, input_html: {data: {behaviour: 'select-all'}} %>
  </div>
  <div class="form-group">
    <%= f.label :completed, label: "badge completed?" %>
    <%= f.input :completed, label: false %>
  </div>
  <%= f.button :submit, class: 'btn btn-primary btn-block' %>
<% end %>
