<%= form_with(model: parent, local: true) do |form| %>
  <% if parent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parent.errors.count, "error") %> prohibited this parent from being saved:</h2>

      <ul>
        <% parent.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :parent_user_id %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active, id: :parent_active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
