
<%= form_with(model: camp_counselor, local: true) do |form| %>
  <% if camp_counselor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(camp_counselor.errors.count, "error") %> prohibited this camp_counselor from being saved:</h2>

      <ul>
        <% camp_counselor.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :camp_id %>
    <%= form.text_field :camp_id, id: :camp_counselor_camp_id %>
  </div>

  <div class="field">
    <%= form.label :counselor_id %>
    <%= form.text_field :counselor_id, id: :camp_counselor_counselor_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
