<p id="notice"><%= notice %></p>

<h1>Camp Counselors</h1>

<table>
  <thead>
    <tr>
      <th>Camp</th>
      <th>Counselor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @camp_counselors.each do |camp_counselor| %>
      <tr>
        <td><%= camp_counselor.camp %></td>
        <td><%= camp_counselor.counselor %></td>
        <td><%= link_to 'Show', camp_counselor %></td>
        <td><%= link_to 'Edit', edit_camp_counselor_path(camp_counselor) %></td>
        <td><%= link_to 'Destroy', camp_counselor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Camp Counselor', new_camp_counselor_path %>
