<p id="notice"><%= notice %></p>

<h1>Camp Badges</h1>

<table>
  <thead>
  <tr>
    <th>Badge</th>
    <th>Camp</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @camp_badges.each do |camp_badge| %>
    <tr>
      <td><%= camp_badge.badge %></td>
      <td><%= camp_badge.camp %></td>
      <td><%= link_to 'Show', camp_badge %></td>
      <td><%= link_to 'Edit', edit_camp_badge_path(camp_badge) %></td>
      <td><%= link_to 'Destroy', camp_badge, method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Camp Badge', new_camp_badge_path %>
