<div class="row main-view camp-badge-header" id="admin-camp-view">
  <div class="header"></div>
  <%= link_to 'Back', :back %>
  <div class="header-text">
    <h2 class="header-title"><%= @badge.name %></h2>
    <div class="header-subtitle">
      Skill— <%= @badge.skill.name %>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Current Camp</h5>
      <p class="card-text">
        <%= @camp.start_date.strftime("%A, %b %d") %> - <%= @camp.end_date.strftime("%A, %b %d") %><br/>
        <%= @camp.location.name %> <br/>
        <%= @camp.program %>
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Summary</h5>
      <p class="card-text">
        <%= @badge.description %>
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Milestones</h5>
      <p class="card-text">

      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Campers</h5>
      <p class="card-text">

      </p>
    </div>
  </div>
</div>
