<div class="header" id="barn-header">
  <div class="header-body">
    <div class="header-title"><%= @badge.name %></div>
    <div class="header-subtitle">
      Skill— <%= @badge.skill.name %>
    </div>
  </div>
</div>

<div class="row page-row">
  <div class="col">
    <div class="card page-card">
      <div class="card-body">
        <h5 class="card-title">Current Instructor</h5>
        <p class="card-text">
          <% if @counselors.empty? %>
            There are no counselors assigned to this camp badge at this time.
          <% else %>
            <%= link_to @counselors.first.proper_name, @counselors.first %>
          <% end %>
        </p>
      </div>
    </div>

    <div class="card page-card">
      <div class="card-body">
        <h5 class="card-title">Current Camp</h5>
        <p class="card-text">
          <%= @camp.start_date.strftime("%A, %b %d") %> - <%= @camp.end_date.strftime("%A, %b %d") %><br/>
          <%= @camp.location.name %> <br/>
          <%= @camp.program %>
        </p>
      </div>
    </div>

    <div class="card page-card">
      <div class="card-body">
        <h5 class="card-title">Summary</h5>
        <p class="card-text">
          <%= @badge.description %>
        </p>
      </div>
    </div>

    <div class="card page-card">
      <div class="card-body">
        <h5 class="card-title">Milestones</h5>
        <div id="accordion">
          <% @tasks.each_with_index do |task, index| %>
            <div class="accordion-section">
              <a data-toggle="collapse" data-target="#collapse<%= index %>" aria-expanded="true" aria-controls="collapse<%= index %>">
                <div class="accordion-header" id="heading<%= index %>">
                  <h6 class="mb-0">
                    <%= task.name %>
                  </h6>
                </div>
              </a>

              <div id="collapse<%= index %>" class="collapse" aria-labelledby="heading<%= index %>" data-parent="#accordion">
                <div class="card-body">
                  <%= task.description %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="card page-card">
      <div class="card-body">
        <h5 class="card-title">Campers</h5>
        <div class="container">
          <% if @ccbs.empty? %>
              <p class="card-text">
                There are no campers assigned to this badge at this time.
              </p>
            </div>
          <% else %>
            <% @ccbs.each_with_index do |ccb, index| %>
              <% if ccb == @ccbs.first or (index + 1) % 3 == 1 %>
                <div class="row">
              <% end %>
              <div class="col">
                <%= link_to ccb.camper do %>
                  <div class="person-icon text-center">
                    <%= image_tag 'camper-img.svg', class: 'img-responsive' %><br/>
                    <%= ccb.camper.proper_name %>
                  </div>
                <% end %>
              </div>
              <% if ccb == @ccbs.last and (index + 1) % 3 != 0 %>
                <div class="col"></div>
                  <% if (index + 1) % 3 == 1 %>
                    <div class="col"></div>
                  <% end %>
                </div>
              <% end %>
              <% if ccb == @ccbs.last or (index + 1) % 3 == 0 %>
                </div>
              <% end %>
            <% end %>
          <% end %>
      </div>
    </div>

    <div class="row btn-group">
      <div class="col">
        <%= link_to 'Assign Milestone to Campers', assign_milestones_path(:camp_badge_id => @camp_badge.id), class: "btn btn-primary btn-block" %>
      </div>
      <div class="col">
        <%= link_to 'Add Campers', new_camper_camp_badge_path(:camp_badge_id => @camp_badge.id), class: "btn btn-primary btn-block" %>
      </div>
    </div>
    </div>
  </div>
</div>
</div>

<div class="pad-bottom">
</div>