<%= simple_form_for(counselor_camp_badge) do |f| %>
  <%= f.error_notification %>
  <%= f.hidden_field :camp_badge_id, value: params['camp_badge_id'] %>
  <div class="form-group">
    <%= f.label :counselor_id %>
    <%= f.input :counselor_id, collection: Counselor.alphabetical.to_a, input_html: {class: 'form-control'}, label: false %>
  </div>
  <%= f.button :submit, class: 'btn btn-primary btn-block' %>
<% end %>

