<p id="notice"><%= notice %></p>

<p>
  <strong>Camp badge:</strong>
  <%= @counselor_camp_badge.camp_badge %>
</p>

<p>
  <strong>Counselor:</strong>
  <%= @counselor_camp_badge.counselor %>
</p>

<%= link_to 'Edit', edit_counselor_camp_badge_path(@counselor_camp_badge) %> |
<%= link_to 'Back', counselor_camp_badges_path %>
