<%= simple_form_for(camp) do |f| %>
  <%= f.error_notification %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.input :name, input_html: { class: 'form-control' }, label: false %>
  </div>
  <div class="form-group">
    <%= f.label :program %>
    <%= f.input :program, input_html: { class: 'form-control' }, label: false %>
  </div>
  <div class="form-group">
    <%= f.label :start_date %><br/>
    <%= f.input_field :start_date, class: 'form-control date', label: false, :order => [:month, :day, :year] %>
  </div>
  <div class="form-group">
    <%= f.label :end_date %><br/>
    <%= f.input_field :end_date, class: 'form-control date', label: false, :order => [:month, :day, :year] %>
  </div>
  <div class="form-group">
    <%= f.label :location %>
    <%= f.input :location, collection: Location.alphabetical.to_a, input_html: { class: 'form-control' }, label: false %>
  </div>
  <div class="form-group">
    <%= f.input :active, :as => :hidden, :input_html => { :value => true } %>
  </div>
  <%= f.button :submit, class: 'btn btn-primary btn-block' %>
<% end %>