<!-- <p id="notice"><#= notice %></p> -->

<div class="row main-view barn-header" id="admin-camp-view">
  <div class="header"></div>
  <%= link_to 'Back', :back %>
  <div class="header-text">
    <h2 class="header-title">Camps</h2>
    <div class="header-subtitle">
    </div>
  </div>
  <%= link_to 'New Camp', new_camp_path, class: "btn btn-primary btn-block" %>

  <%= render :partial => "partials/camps_index", locals: {camps: @current_camps, state: "Current"} %>
  <%= render :partial => "partials/camps_index", locals: {camps: @upcoming_camps, state: "Upcoming"} %>
  <%= render :partial => "partials/camps_index", locals: {camps: @past_camps, state: "Past"} %>

</div>