<div class="row main-view barn-header" id="admin-camp-view">
  <div class="header"></div>
  <%= link_to 'Back', :back %>
  <div class="header-text">
    <h2 class="header-title"><%= @camp.name %></h2>
    <div class="header-subtitle">
      <%= @camp.start_date.strftime("%A, %b %d") %> - <%=@camp.end_date.strftime("%A, %b %d") %><br/>
      <%= @camp.location.name %> <br/>
      <%= @camp.program %>
    </div>
  </div>
  
  <%= link_to camp_badges_path do %>
    <div class="card">
      <div class="card-body">
          <h5 class="card-title">Badges in Progress</h5>
          <p class="card-text"></p>
      </div>
    </div>
  <% end %>

  <%= link_to camper_registrations_path(:camp_id => @camp.id) do %>
    <div class="card">
      <div class="card-body">
          <h5 class="card-title">Camper Roster</h5>
          <p class="card-text"></p>
      </div>
    </div>
  <% end %>

  <%= link_to camp_counselors_path(:camp_id => @camp.id) do %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Counselor List</h5>
        <p class="card-text"></p>
      </div>
    </div>
  <% end %>

</div>