<div class="header" id="barn-header">
  <div class="header-body">
    <div class="header-title"><%= @camp.name %></div>
    <div class="header-subtitle">
      <%= @camp.start_date.strftime("%A, %b %d") %> - <%= @camp.end_date.strftime("%A, %b %d") %><br/>
      <%= @camp.location.name %> <br/>
      <%= @camp.program %>
    </div>
  </div>
</div>

<div class="row page-row">
  <div class="col">
    <%= link_to camp_badges_path do %>
      <div class="card page-card">
        <div class="card-body">
          <h5 class="card-title">Badges in Progress</h5>
          <p class="card-text">
            <% if @camp_badges.nil? %>
              There are currently no badges in progress yet.<br/>
              Add some to begin!
            <% else %>
              This week, there are <%= @camp_badges.count %> badges in progress.
            <% end %>
          </p>
        </div>
      </div>
    <% end %>

    <%= link_to camper_registrations_path(:camp_id => @camp.id) do %>
      <div class="card page-card">
        <div class="card-body">
          <h5 class="card-title">Camper Roster</h5>
          <p class="card-text">
            <% if @campers.count != 0 %>
              This week, there are <%= @campers.count %> campers enrolled.
            <% else %>
              There are no campers enrolled yet.
            <% end %>
          </p>
        </div>
      </div>
    <% end %>

    <%= link_to camp_counselors_path(:camp_id => @camp.id) do %>
      <div class="card page-card">
        <div class="card-body">
          <h5 class="card-title">Counselor List</h5>
          <p class="card-text">
            <% if @counselors.count != 0 %>
              This week, there are <%= @counselors.count %> counselors working.
            <% else %>
              There are no counselors assigned to this camp yet.
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
    <% if logged_in? && current_user.role?(:admin) %>
      <%= link_to 'Edit', edit_camp_path(:camp_id => @camp.id), class: "btn btn-primary btn-block btn-right" %>
    <% end %>
  </div>
</div>

<div class="pad-bottom">
</div>