<div class="card page-card">
  <div class="card-body">
    <h5 class="card-title"><%= state %> Camps</h5>
    <p class="card-text">
    <table class="table">
      <tbody>
      <% if camps.count != 0 %>
        <% camps.each do |camp| %>
          <tr>

            <td>
              <%= link_to camp do %>
                <span class="card-subtitle"><%= camp.name %></span><br/>
              <% end %>
              <%= camp.program %> <br/>
              <%= camp.start_date.strftime("%A, %b %d") %> - <%= camp.end_date.strftime("%A, %b %d") %> <br/>
              <%= camp.location.name %>

            </td>
          </tr>
        <% end %>
      <% else %>
        There are no <%= state.downcase %> camps.
      <% end %>
      </tbody>
    </table>

    </p>
  </div>
</div>