<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= state %> Camps</h5>
    <p class="card-text">

    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Program</th>
        <th>Start</th>
        <th>End</th>
        <th>Location</th>
        <th colspan="3"></th>
      </tr>
      </thead>
      <tbody>
      <% camps.each do |camp| %>
        <tr>

          <td>
            <%= link_to camp do %>
              <%= camp.name %>
            <% end %>
          </td>
          <td><%= camp.program %></td>
          <td><%= camp.start_date %></td>
          <td><%= camp.end_date %></td>
          <td><%= camp.location.name %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    </p>
  </div>
</div>