<div class="form-group">
  <%= f.label :email %>
  <%= f.input :email, input_html: {class: 'form-control'}, label: false %>
</div>

<div class="form-group">
  <%= f.label :password %>
  <%= f.input :password, label: false, input_html: {class: 'form-control'} %>
</div>

<div class="form-group">
  <%= f.label :password_confirmation %>
  <%= f.input :password_confirmation, label: false, input_html: {class: 'form-control'} %>
</div>

<div class="form-group">
  <%= f.label :first_name %>
  <%= f.input :first_name, label: false, input_html: {class: 'form-control'} %>
</div>

<div class="form-group">
  <%= f.label :last_name %>
  <%= f.input :last_name, label: false, input_html: {class: 'form-control'} %>
</div>

<div class="form-group">
  <%= f.label :role %>
  <%= f.input :role, collection: User::ROLES, label: false, include_blank: true, input_html: {class: 'form-control'} %>
</div>