
<div class="header" id="barn-header">
  <%#= link_to 'Back', :back %>
  <div class="btn-wrapper">
  </div>
  <div class="header-body">
    <div class="header-title">Users</div>
    <div class="header-subtitle">
    </div>
  </div>
</div>

<div class="row page-row">
  <div class="col">
      <%= link_to 'Create New User', new_user_path, class: "btn btn-primary btn-block" %>
      <div class="card page-card">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text">
            <% if @users.count != 0 %>
              <table class="table">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Role</th>
                </tr>
                </thead>

                <tbody>
                <% @users.each do |user| %>
                  <tr>
                    
                    <td>
                      <%= link_to user do %>
                        <%= user.first_name %> <%= user.last_name %> 
                      <% end %>
                    </td>
                    <td><%= user.role.capitalize %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
              <% else %>
                There are no users in the system.
              <% end %>
          </p>
        </div>
      </div>
  </div>
</div>

<div class="pad-bottom">
</div>
