<div class="header" id="profile-header">
  <div class="header-body">
    <div class="header-title"><%= @user.first_name %> <%= @user.last_name %></div>
    <div class="header-subtitle">
      <%= @user.role.capitalize %><br/><br/>
      <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-primary btn-block btn-sm" %>
    </div>
  </div>
</div>

<div class="row page-row">
  <div class="col">
    <div class="card page-card">
      <div class="card-body">
        <h5 class="card-title">User Information</h5>
        <p class="card-text">
          <b>First Name:</b> <%= @user.first_name %><br/><br/>
          <b>Last Name:</b> <%= @user.last_name %><br/><br/>
          <b>Email:</b> <%= @user.email %><br/><br/>
          <b>Role:</b> <%= @user.role.capitalize %>
        </p>
      </div>
    </div>

    <% if logged_in? && (current_user.role?(:admin)) %>
      <div class="row btn-group">
        <%= link_to 'Delete User', @user, method: :delete, data: {confirm: 'Are you sure you want to delete this user?'}, class: "btn btn-primary btn-block btn-left" %>
      </div>
    <% end %>
  </div>
</div>

<div class="pad-bottom">
</div>

