<p id="notice"><%= notice %></p>

<h1>Counselor Camp Badges</h1>

<table>
  <thead>
    <tr>
      <th>Camp badge</th>
      <th>Counselor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @counselor_camp_badges.each do |counselor_camp_badge| %>
      <tr>
        <td><%= counselor_camp_badge.camp_badge %></td>
        <td><%= counselor_camp_badge.counselor %></td>
        <td><%= link_to 'Show', counselor_camp_badge %></td>
        <td><%= link_to 'Edit', edit_counselor_camp_badge_path(counselor_camp_badge) %></td>
        <td><%= link_to 'Destroy', counselor_camp_badge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Counselor Camp Badge', new_counselor_camp_badge_path %>
