<div class="header" id="barn-header">
  <%#= link_to 'Back', :back %>
  <div class="btn-wrapper">
  </div>
  <div class="header-body">
    <div class="header-title">Skills</div>
    <div class="header-subtitle">
    </div>
  </div>
</div>

<div class="row page-row">
  <div class="col">
    <% if logged_in? && current_user.role?(:admin) %>
      <%= link_to 'Create New Skill', new_skill_path, class: "btn btn-primary btn-block" %>
    <% end %>
    <div class="card page-card">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">
          <% if @skills.count != 0 %>
          <table class="table">
            <thead>
            <tr>
              <th>Skill Name</th>
              <th>Category</th>
            </tr>
            </thead>

            <tbody>
            <% @skills.each do |skill| %>
              <tr>

                <td>
                  <%= link_to skill do %>
                    <%= skill.name %>
                  <% end %>
                </td>
                <td><%= skill.category %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        <% else %>
          There are no skills in the system.<br/>
          Add some to begin!
        <% end %>
        </p>
        <span class="paginate center paginate-style">
          <%= will_paginate @skills, :previous_label => "<", :next_label => ">", :param_name => 'skills' %>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="pad-bottom">
</div>
