<div class="header" id="dashboard-header">
  <div class="header-body">
    <div class="header-title">Welcome, <%= current_user.first_name %>!</div>
  </div>
</div>

<div class="row page-row">
  <div class="col">
    <% if @current_camps.empty? %>
      <div class="section-header">There are no camps happening at this time.</h4>
    <% else %>
      <h4 class="section-header">Current Camps</h4>
      <% @current_camps.each do |camp| %>
        <%= link_to camp_path(camp) do %>
          <div class="card page-card">
            <div class="card-body">
              <h5 class="card-title"><%= camp.name %></h5>
              <p class="card-text">
                <%= camp.start_date.strftime("%A, %b %d") %> - <%= camp.end_date.strftime("%A, %b %d") %> <br/>
                <%= camp.location.name %>
              </p>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="pad-bottom">
</div>