<div class="header" id="dashboard-header">
  <div class="header-body">
    <div class="header-title">Welcome, <%= current_user.first_name %>!</div>
  </div>
</div>

<div class="row page-row">
  <div class="col">
    <% if @campers.empty? %>
      <div class="section-header">You do not have any campers.</h4>
    <% else %>
      <h4 class="section-header">My Campers</h4>
      <% @campers.each do |camper| %>
        <%= link_to camper_path(camper) do %>
          <div class="card page-card">
            <div class="card-body">
              <h5 class="card-title"><%= camper.proper_name %></b></h5>
              <p class="card-text">
                <b><%= camper.first_name %></b> is currently working on <b><%= camper.current_badge.name %></b>. <br/>
              </p>
              <div class="row">
                <div class="col-3">
                  <%= image_tag 'badge-icon.svg', class: 'img-responsive' %><br/>
                </div>
                <div class="col-9">
                  <p>
                    <b>This Week's Badge</b><br/>
                    <%= camper.current_badge.name %>
                  </p>
                </div>
              </div><br/>
              <div class="progress">
                <% camper.current_tasks.each_with_index do |task, index| %>
                  <% if task.completed? %>
                    <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <%= link_to 'Create New Camper', new_camper_path, class: "btn btn-primary btn-block" %>

    </div>
  </div>

  <div class="pad-bottom">
  </div>