<div class="form">
  <%= simple_form_for(camper_registration) do |f| %>
    <%= f.error_notification %>
    <div class="row">
      <div class="form-inputs">
        <%= f.input :camp_id, collection: Camp.alphabetical.to_a, include_blank: true, :label_method => :name  %>
        <%= f.input :camper_id, collection: Camper.alphabetical.to_a, include_blank: true, :label_method => :proper_name  %>
      </div>
    </div>
    <div class="row">
      <div class="form-actions col s8">
        <%= f.button :submit %>
      </div>
    </div>
  <% end %>
</div>
