<div class="header" id="profile-header">
  <%#= link_to 'Back', :back %>
  <div class="btn-wrapper">
  </div>
  <div class="header-body">
    <div class="header-title">New Camper Registration</div>
    <div class="header-subtitle">
    </div>
  </div>
</div>

<div class="row page-row">
  <div class="col">
    <div class="card page-card">
      <div class="card-body">
        <h5 class="card-title">Create New Camper Registration</h5>
        <% if @camp %>
          <h6 class="card-subtitle">
            Camp
          </h6>
          <p class="card-text">
            <%= @camp.name %><br/>
            <%= @camp.start_date.strftime("%A, %b %d") %> - <%= @camp.end_date.strftime("%A, %b %d") %><br/>
            <%= @camp.location.name %> <br/>
            <%= @camp.program %>
          </p>
          <h6 class="card-subtitle">
            Add students to this camp.
          </h6>
          <%= render partial: "partials/form_structure", locals: {object: @camper_registration,
                                                                  type_of_form: "New Camper Registration",
                                                                  fields: "camper_registration_fields"} %>
        <% end %>

      </div>
    </div>
  </div>
</div>

<div class="pad-bottom">
</div>


</div>



