<div class="header" id="barn-header">
  <%#= link_to 'Back', :back %>
  <div class="btn-wrapper">
  </div>
  <div class="header-body">
    <div class="header-title">Campers</div>
    <div class="header-subtitle">
    </div>
  </div>
</div>

<div class="row page-row">
  <div class="col">
    <%= link_to 'Create New Camper', new_camper_path, class: "btn btn-primary btn-block" %>
    <div class="card page-card">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">
          <% if @campers.count != 0 %>
          <table class="table">
            <thead>
            <tr>
              <th>Camper Name</th>
              <th>Parent</th>
              <th colspan="3"></th>
            </tr>
            </thead>

            <tbody>
            <% @campers.each do |camper| %>
              <tr>
                <td>
                  <%= link_to camper do %>
                    <%= camper.proper_name %>
                  <% end %>
                </td>
                <td>
                  <%= link_to camper.parent do %>
                    <%= camper.parent.proper_name %>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        <% else %>
          There are no campers in the system.
        <% end %>
        </p>
        <span class="paginate center paginate-style">
          <%= will_paginate @campers, :previous_label => "<", :next_label => ">", :param_name => 'campers' %>
        </span>
      </div>

    </div>
  </div>
</div>

<div class="pad-bottom">
</div>