<div class="header" id="profile-header">
  <%#= link_to 'Back', :back %>
  <div class="btn-wrapper">
  </div>
  <div class="header-body">
    <div class="header-title">New Camper</div>
    <div class="header-subtitle">
    </div>
  </div>
</div>

<div class="row page-row">
  <div class="col">
    <div class="card page-card">
      <div class="card-body">
        <h5 class="card-title">Create New Camper</h5>

        <p class="card-text">
          <% if logged_in? && (current_user.role?(:admin)) %>
            <%= render partial: "partials/form_structure", locals: {object: @camper,
                                                                  type_of_form: "New Camper",
                                                                  fields: "camper_fields"} %>
          <% elsif logged_in? && (current_user.role?(:parent)) %>                   
            <%= simple_form_for(@camper) do |f| %>
              <%= f.error_notification %>
              <%= f.hidden_field :parent_id, value: current_user.id %>
              <div class="form-group">
                <%= f.label :first_name %>
                <%= f.input :first_name, input_html: {class: 'form-control'}, label: false %>
              </div>
              <div class="form-group">
                <%= f.label :last_name %>
                <%= f.input :last_name, input_html: {class: 'form-control'}, label: false %>
              </div>
              <%= f.button :submit, class: 'btn btn-primary btn-block' %>
            <% end %> 
          <% end %>


        </p>

      </div>
    </div>
  </div>
</div>

<div class="pad-bottom">
</div>


</div>



