<p id="notice"><%= notice %></p>

<p>
  <strong>Parent:</strong>
  <%= @camper.parent %>
</p>

<p>
  <strong>First name:</strong>
  <%= @camper.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @camper.last_name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @camper.active %>
</p>

<%= link_to 'Edit', edit_camper_path(@camper) %> |
<%= link_to 'Back', campers_path %>
