<%= form_with(model: counselor, local: true) do |form| %>
  <% if counselor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(counselor.errors.count, "error") %> prohibited this counselor from being saved:</h2>

      <ul>
      <% counselor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :counselor_user_id %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active, id: :counselor_active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
