<p id="notice"><%= notice %></p>

<h1>Counselors</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @counselors.each do |counselor| %>
      <tr>
        <td><%= counselor.user %></td>
        <td><%= counselor.active %></td>
        <td><%= link_to 'Show', counselor %></td>
        <td><%= link_to 'Edit', edit_counselor_path(counselor) %></td>
        <td><%= link_to 'Destroy', counselor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Counselor', new_counselor_path %>
