<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @counselor.user %>
</p>

<p>
  <strong>Active:</strong>
  <%= @counselor.active %>
</p>

<%= link_to 'Edit', edit_counselor_path(@counselor) %> |
<%= link_to 'Back', counselors_path %>
