<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @parent.user %>
</p>

<p>
  <strong>Active:</strong>
  <%= @parent.active %>
</p>

<%= link_to 'Edit', edit_parent_path(@parent) %> |
<%= link_to 'Back', parents_path %>
