<div class="header" id="profile-header">
  <div class="header-body">
    <div class="header-title"><%= @parent.proper_name %></div>
    <div class="header-subtitle">
      Parent<br/>
      <%= @parent.user.email %><br/><br/>
      <%= link_to 'Edit', edit_user_path(@parent), class: "btn btn-primary btn-block btn-sm" %>
    </div>
  </div>
</div>

<div class="row page-row">
  <div class="col">
      <div class="card page-card">
        <div class="card-body">
          <h5 class="card-title"><%= @parent.first_name %>'s Campers</h5>
          <p class="card-text">
            <% if @parent.campers.count != 0 %>
              <table class="table">
                <tbody>
                <% @parent.campers.each do |camper| %>
                  <tr>
                    <td>
                      <%= link_to camper do %>
                        <%= camper.proper_name %>
                      <% end %>
                    </td>
                    <!-- <td> -->
                    <%#= link_to camper.parent.user do %>
                    <%#= camper.parent.proper_name %>
                    <%# end %>
                    <!-- </td> -->
                  </tr>
                <% end %>
                </tbody>
              </table>
            <% else %>
              <%= @parent.first_name %> currently does not have any children. <br/>
            <% end %>
          </p>
        </div>
      </div>

    <div class="row btn-group">
      <div class="col">
        <%= link_to 'Add New Camper', new_camper_path(:parent_id => @parent.id), class: "btn btn-primary btn-block btn-right" %>
      </div>
      <div class="col">
        <%= link_to 'Delete Parent', @parent, method: :delete, data: {confirm: 'Are you sure you want to delete this parent?'}, class: "btn btn-primary btn-block btn-left" %>
      </div>
    </div>
  </div>
</div>

<div class="pad-bottom">
</div>

