<div class="header" id="profile-header">
  <div class="header-body">
    <div class="header-title"><%= @location.name %></div>
    <div class="header-subtitle">
      Location<br/><br/>
      <%= link_to 'Edit', edit_location_path(@location), class: "btn btn-primary btn-block btn-sm" %>
    </div>
  </div>
</div>

<div class="row page-row">
  <div class="col">
    <div class="card page-card">
      <div class="card-body">
        <h5 class="card-title">Camps at <%= @location.name %></h5>
        <p class="card-text">
          <% if @camps.count != 0 %>
          <table class="table">
            <tbody>
            <% @camps.each do |camp| %>
              <tr>
                <td>
                  <%= link_to camp do %>
                    <%= camp.name %>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        <% else %>
          <%= @location.name %> currently does not have any camps. <br/>
        <% end %>
        </p>
      </div>
    </div>

    <div class="row btn-group">
      <div class="col">
        <%= link_to 'Add New Camp', new_camp_path, class: "btn btn-primary btn-block btn-right" %>
      </div>
      <div class="col">
        <%= link_to 'Delete Location', @location, method: :delete, data: {confirm: 'Are you sure you want to delete this location?'}, class: "btn btn-primary btn-block btn-left" %>
      </div>
    </div>
  </div>
</div>

<div class="pad-bottom">
</div>

