<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">
  <title>YCHAT</title>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <%= render :partial => "partials/flash" %>
<div class="container" id="main_content">
  <%= yield %>
</div>
<% if logged_in? && (current_user.role?(:admin)) %>
  <%= render :partial => "partials/admin_navigation" %>
<% elsif logged_in? && (current_user.role?(:parent)) %>
  <%= render :partial => "partials/parent_navigation" %>
<% elsif logged_in? && (current_user.role?(:counselor)) %>
  <%= render :partial => "partials/counselor_navigation" %>
<% end %>
<%= javascript_include_tag "application" %>
</body>
</html>